<div class="section">
	<a name="about_us"></a> 
	<img src="assets/signature.png" alt="Artisan Baking Since 2012" id="signature">
	<h2>About us</h2>
	<p>
		Lorem ipsum dolor sit amet, <b>consectetur adipisicing</b> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <b>ea commodo consequat</b>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <b>Excepteur sint occaecat</b> cupidatat non proident, sunt in culpa qui officia deserunt <b>mollit anim id</b> est laborum.
	</p>
</div>
<div>
	<div class="small_section">
		<a name="how_to_find_us"></a> 
		<div id="map" class="map" style="width:152px;height:152px"></div>
	  <h2>How to find us</h2>			
	  <p>
			Our lovely bakery is nestled between <b>Walley Range</b> and <b>Chorlton</b>. It takes half an hour on the bus from the city center<br />
	  	254 Upper Chorlton Road,<br />
			Manchester,<br /> 
			Greater Manchester<br />
			M16 0BN
	  </p>
	</div>
	<div class="small_section">
		<a name="get_in_touch"></a> 
		<img src="assets/stamp.png" alt="Artisan Baking Since 2012" id="signature">
	  <h2>Get in touch</h2>			
	  <p>
		  We'd love to hear from you so...<br/>
		  send us an <a href="mailto:hi@uprisingbakehouse.coop">email</a> (hi@uprisingbakehouse.coop),<br/>
		  follow us on <a href="https://twitter.com/uprisebakehouse">twitter</a> (@uprisebakehouse),<br/>
			like us on <a href="http://www.facebook.com/pages/Uprising-Bakehouse/310974648939650">facebook</a>,<br/>
			give us a call (0161 881 3154)<br/>
			or <a href="#how_to_find_us">pop in</a> for a cup of fresh coffee and a chat!
		</p>
	</div>
</div>
<div class="section" style="margin:0; height:0;"></div>
<div class="section">
	<a name="our_bakes"></a> 
	<img src="assets/tart.png" alt="Artisan Baking Since 2012" id="signature">
  <h2>Our bakes</h2>			
  <p>
  	Lorem ipsum dolor sit amet, <b>consectetur adipisicing</b> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <b>ea commodo consequat</b>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <b>Excepteur sint occaecat</b> cupidatat non proident, sunt in culpa qui officia deserunt <b>mollit anim id</b> est laborum.
  </p>
</div>
<div class="section">
	<a name="bread_club"></a> 
	<img src="assets/bread.png" alt="Artisan Baking Since 2012" id="signature">
  <h2>Bread club</h2>			
  <p>
  	Lorem ipsum dolor sit amet, <b>consectetur adipisicing</b> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <b>ea commodo consequat</b>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <b>Excepteur sint occaecat</b> cupidatat non proident, sunt in culpa qui officia deserunt <b>mollit anim id</b> est laborum.
  </p>
</div>