<h2>Confirm your order</h2>
<p>You can make changes later (if you make an order within 24 hours of the delivery date the changes might be noticed until your next delivery).</p>

<%= render :partial => "show", :locals => { :order => @order } %>

<% unless @order.payment_provided? %>
  <p>
    <%= link_to image_tag( "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :title => "Checkout with PayPal"), checkout_order_path(@order) %>
  </p>
<% end %>

<%= link_to 'Any changes?', edit_order_path(@order) %>
